.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--logo-color);
  padding: 0 0.5rem;
}

.nav_list {
  list-style: none;
}

.nav_list_item {
  display: inline-block;
  margin: 1rem;
}

.nav_list_item_link {
  padding: 0.5rem;
  font-size: 1.2rem;
  color: black;
  transition: 0.2s;
}

.nav_list_item_link_current,
.nav_list_item_link:hover {
  background: black;
  color: var(--logo-color);
}

.page_content {
  padding: 0;
}

.footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background: var(--logo-color);
  font-weight: 300;
  font-size: 0.8rem;
}
