.normal,
.uncentered,
.large,
.large_uncentered {
  font-size: 2rem;
  display: block;
  margin-left: 1rem;
}

.normal,
.large {
  text-align: center;
}

.large,
.large_uncentered {
  font-size: 2.5rem;
}
